conda
coverage
conda-forge::pytest-split
conda-forge::pytest-xprocess
conda-forge::xdoctest
importlib_resources >=5.10
pytest >=6.2.0
pytest-cov
tomli  # for coverage pyproject.toml, only necessary for Python <= 3.11.0a6
